<%= form_for company do |form| %>
<div class="row">
  <div class="col-md-6">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Informações gerais
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Nome</label>
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= form.submit "Salvar", class:"btn btn-primary" %>
    <%= link_to 'Voltar', :back, class:"btn btn-secondary", style: "background-color:#ffffff"  %>
  </div>
</div>
<% end %>
