<% flash.each do |key, value| %>
<div class="alert alert-outline-<%= flash_class(key) %> fade show" role="alert">
  <div class="alert-text"><%= value %></div>
  <div class="alert-close">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="la la-close"></i></span>
    </button>
  </div>
</div>
<% end %>

<script>
$(document).ready(function() {
  function hideAlert() {
    $(".alert").slideUp(400, function() { $(this).alert('close'); });
  }
  // var hideAlertTimer = setInterval(hideAlert,3000);
  
  $(".alert").hover(
    function() {clearInterval(hideAlertTimer)},function() {}
  );
});
</script>
