<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__main">
    <h3 class="kt-subheader__title">
      <%= yield :subheader_title %>
    </h3>
  </div>


  <!-- Link de opções (Editar, apagar) -->
  <div class="kt-subheader__toolbar">
    <div class="kt-subheader__wrapper">
      <% if content_for?(:subheader_toolbar) %>
      <%= yield :subheader_toolbar %>
      <% end %>
    </div>
  </div>
</div>
<!-- end:: Subheader -->
