<p><strong>Nome:</strong> <%= @shipment.recipient_first_name %></p>
<p><strong>Sobrenome:</strong> <%= @shipment.recipient_last_name %></p>
<p><strong>Email:</strong> <%= @shipment.recipient_email %></p>
