<% content_for :subheader_title do %>
  Pedidos pronto para envio enviados para as transportadoras
<% end %>


<% @results.each do |result_hash| %>


  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          <%= result_hash[:carrier].display_name %>
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
					<%= result_hash[:account].name %>
			</div>
    </div>

    <div class="kt-portlet__body">
      <div class="kt-portlet__content">
        <table class="table table-hover table-head-noborder">
          <thead>
            <tr>
              <th>Envio</th>
              <th>Enviado</th>
              <th>Resposta</th>
            </tr>
          </thead>
          <tbody>
            <% result_hash[:sync_result].each do |result| %>
            <tr>
              <td><%= link_to "#{result[:shipment].shipment_number} - #{result[:shipment].full_name}", shipment_path(result[:shipment]), class: "kt-link" %> </td>
              <td>
                <% if result[:success] %>
                <i class="la la-check-circle"></i>
                <% else %>
                <i class="la la-close text-danger"></i>
                <% end %>
              </td>
              <td><%= result[:message] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
